{% extends "::base.html.twig" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {{ avatar(user.username, 128)|raw }}
            <div class="panel margin-top-little">
            </div>
        </div>
        <div class="col-md-9">
            {# this config item may only contain 1, 2, 3, 4, 6 or 12 (int) #}
            {% set rows = config('design.profile.wall_rows', 3) %}
            
            {% for post in user.wall.posts %}
                {% if loop.index % rows == 1 %}
                    <div class="row">
                {% endif %}
                
                <div class="col-md-{{ 12 / rows }} margin-top-little">
                    {% include 'MinePlusMainBundle:Player:wall_post.html.twig'  with {'post': post} only %}
                </div>
                            
                {% if loop.index % rows == 0 %}
                    </div>
                {% endif %}               
            {% endfor %}
        </div>
    </div>
{% endblock %}