{% macro icon(icon) %}
    {# For a complete list of icons, visit http://getbootstrap.com/components/#glyphicons-glyphs #}
    {% if config('design.icons', true) %}
        <span class="glyphicon glyphicon-{{ icon }}"></span>
    {% endif %}
{% endmacro %}
        
{% macro callout(title, text, type) %}
    <div class="bs-callout bs-callout-{{ type|default('info') }}">
        <h4>{{ title }}</h4>
        <p>{{ text }}</p>
    </div>
{% endmacro %}