{% macro icon(icon) %}
    {# For a complete list of icons, visit http://getbootstrap.com/components/#glyphicons-glyphs #}
    {% if config('design.icons', true) %}
        <span class="glyphicon glyphicon-{{ icon }}"></span>
    {% endif %}
{% endmacro %}