{% extends "::base.html.twig" %}

{% block title %}Login{% endblock %}

{% block styles %}
    .login-panel {
        {# Not very pretty, especially for mobile devices #}
        margin-top: 70px;
    }
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-4 col-offset-4">
            <div class="login-panel panel {% if error %}panel-danger{% endif %}">
                <div class="panel-heading">
                        <h3 class="panel-title">Login{% if error %} <small>Please try again</small>{% endif %}</h3>
                </div>
                <form action="{{ path('fos_user_security_check') }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="form-group">
                        <label for="input-username">Username</label>
                        <input type="text" name="_username" class="form-control" id="input-username" placeholder="Enter username" value="{{ last_username }}" />
                    </div>
                    <div class="form-group">
                        <label for="input-password">Password</label>
                        <input type="password" name="_password" class="form-control" id="input-password" placeholder="Password" />
                    </div>
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" name="_remember_me">Remember me</input>
                        </label>
                    </div>
                    <button type="submit" name="_submit" class="btn btn-default pull-right">Submit</button>
                    {# TODO: I think we'll be able to find a better solution!#}
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
